<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="https://my-flask-website.mihirpesswani.repl.co/static/favicon.ico">
  <title>Mike Codes</title>
  <style>
    #banner{
      height: 360px;
      width: 100%;
      object-fit:cover;
      margin-bottom: 16px;
    }
    .mybtn {
    border: 2px solid #00ffc3;
    border-radius: 12px;
    padding: 14px 36px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    transition: all .5s;
  }
    .gr {
  border-color: #2196F3;
}

.gr:hover {
  background: #2196F3;
  color: black;
}
  </style>
</head>
<body class="text-white" style="background-color: #1e2d40;">
  {% include 'navbar.html' %}
    <img class="img-fluid" id="banner" src="https://my-flask-website.mihirpesswani.repl.co/static/banner.jpg" alt= "banner" >
    <div class="container">
      <h1 class="text-center mt-2 mb-4" style="color: rgb(0,255,195);">
        {{company_name}}
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        At Mike Codes, we’re a team building the highly collaborative technical community in the world, and we’re building it completely online. Our courses helps students to get a career in software industry. We offer beginner-friendly courses to most advanced courses in most demanding technologies. We are a fast-growing tech community of 20,000+ users.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/team.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <br>
      <h2 class="text-center mt-2 mb-4" style="color: rgb(0,255,195);">Our Courses</h2>
      <div>
        {% for course in courses %}
          {% include 'courseitem.html' %}
        {% endfor %}
      </div>
      <br>
      <div class="text-center" style="color: rgb(0,255,195); bg-color: rgb(0,255,195)">
        <a href="mailto:pesswani.mihir@gmail.com?subject=Buy%20Courses%20from%20Mike%20Codes&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20email%3A%20%3Cyour%20email%20here%3E">
          <button class="mybtn gr">Contact Us</button>
    </div>
  {% include 'footer.html' %}
</body>
</html>